[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pipenv = "*"
prisma = "~=0.9.1"
python-dateutil = "~=2.8.2"
requests = "*"
pyjwt = "*"
python-dotenv = "~=1.0.0"
flask-wtf = "*"
asynctest = "*"
psycopg2 = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
bcrypt = "*"
flask = {extras = ["async"], version = "*"}

[dev-packages]

[requires]
python_version = "3.11"
